/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--text-font, sans-serif);
  font-variation-settings: "wght" var(--font-wght-text, 410);
  background-image: var(--bg-image);
  background-color: #c0bfbf;
  background-size: cover;
  background-attachment: fixed;
}

.block-width {
  inline-size: var(--section-inline-size);
}

.header {
  padding-block: 100px;
}

.header__cover {
  background-color: var(--main-color, #fff);
  border: var(--border);
  padding-block: var(--title-padding);
  text-align: center;
  margin-inline: auto;
}

.header__title {
  font-family: var(--accent-font, sans-serif);
  font-size: var(--title-font-size);
  line-height: 100%;
  font-weight: normal;
  margin-block-end: 20px;
}

.header__subtitle {
  font-family: var(--accent-font, sans-serif);
  font-size: var(--subtitle-font-size);
  line-height: 100%;
  font-weight: normal;
  text-transform: uppercase;
}

.card {
  background-color: var(--main-color, #fff);
  border: var(--border);
  margin-inline: auto;
}

.card:not(:last-child) {
  margin-block-end: 50px;
}

.card__title {
  font-size: 18px;
  font-variation-settings: "wght" var(--font-wght-title, 715);
  line-height: 1.22em;
  padding: 4px 10px;
}

.card__image {
  position: relative;
}

.card__image img {
  inline-size: 100%;
  border-block: var(--border);
}

.label {
  position: absolute;
  font-family: var(--accent-font, sans-serif);
  font-size: 14px;
  text-transform: uppercase;
  line-height: 100%;
  inset-inline-end: 25px;
  inset-block-start: 25px;
  text-shadow: 0 0 var(--text-stroke, #fff);
  opacity: 0.5;
  mix-blend-mode: hard-light;
}

@supports ((text-stroke: 1px #000) or (-webkit-text-stroke: 1px #000)) {
  .label {
    -webkit-text-stroke: 1px var(--text-stroke, #fff);
    text-stroke: 1px var(--text-stroke, #fff);
    text-shadow: none;
    z-index: 1;
  }
}

.sepia {
  filter: sepia(30%);
}

.invert {
  filter: invert(100%);
}

.saturate {
  filter: saturate(135%);
}

.brightness {
  filter: brightness(90%);
}

.blur {
  filter: blur(1px);
}

.grayscale {
  filter: grayscale(25%);
}

.hue-rotate {
  filter: hue-rotate(270deg) brightness(180%) contrast(120%);
}

.card__description {
  font-size: 18px;
  line-height: 1.17em;
  padding: 25px;
}

.card__description p {
  margin-block-end: 25px;
}

.button {
  background-color: var(--main-color, #fff);
  border: var(--border);
  padding: 0;
  font-family: var(--accent-font, sans-serif);
  font-size: 14px;
  line-height: 90%;
}

.button:hover {
  cursor: pointer;
}

.button__text {
  position: relative;
  color: var(--main-color, #fff);
  mix-blend-mode: difference;
}

.card__buttons {
  display: grid;
  grid-template-columns: 38px 130px;
  gap: 12px;
  justify-content: end;
}

.card__icon-button {
  border: 2px solid transparent;
  transition: border 0.3s ease;
  justify-self: center;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: var(--border);
}

.contour {
  transition: fill 0.1s linear;
}

.main-body {
  transition: fill 0.3s linear;
}

.core {
  transition: fill 0.3s linear 0.03s;
}

.sparks {
  opacity: 0;
}

.like-icon:hover .core {
  fill: var(--contour-color);
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--contour-color, #000);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:active .core {
  fill: var(--animation-fill-color, red);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color, red);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color, red);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color, red);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color, red);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .heart {
  animation: scale 0.3s ease-in 1 0.1s;
  transform-origin: center;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s ease-in 1 0.3s;
}

.card__like-button {
  border: var(--border);
  transition: box-shadow 0.3s ease;
  position: relative;
  overflow: hidden;
  padding-block: 10.5px;
}

.card__save-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 15px 20px;
  margin-inline: auto;
  margin-block: 50px 100px;
  transition: box-shadow 0.3s ease;
  position: relative;
  overflow: hidden;
}

.save-icon {
  aspect-ratio: 1/1;
  color: var(--main-color, #fff);
  mix-blend-mode: difference;
}

.card__save-button .save-icon {
  inline-size: 28px;
}

.dialog {
  position: fixed;
  inset: 0;
}

.dialog[open] {
  display: grid;
  grid-template-columns: min-content auto;
  gap: 30px 20px;
  align-items: center;
  padding: 30px 40px;
  border: var(--border);
  max-inline-size: 341px;
}

.dialog::backdrop {
  background-color: rgba(0 0 0 / 0.75);
}

.dialog .save-icon {
  inline-size: 39px;
  flex-shrink: 0;
}

.dialog p {
  font-family: var(--accent-font, sans-serif);
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.dialog__button {
  grid-column: 1 / -1;
  transition: box-shadow 0.3s ease;
  position: relative;
  overflow: hidden;
  padding-block: 9px;
}

.card__like-button:focus,
.card__save-button:focus,
.dialog__button:focus {
  outline: none;
  box-shadow: 2px 2px 0 var(--accent-color, #000);
}

.card__like-button::before,
.card__save-button::before,
.dialog__button::before {
  content: "";
  inline-size: 100%;
  block-size: 100%;
  background-color: var(--accent-color, #000);
  position: absolute;
  inset-inline-start: 0;
  inset-block-start: 0;
  translate: -100%;
  transition: translate 0.5s ease-in-out;
}

.card__like-button:hover::before,
.card__save-button:hover::before,
.dialog__button:hover::before {
  translate: 0;
}

@media (width<375px) {
  .block-width {
    min-inline-size: 320px;
    inline-size: 100%;
  }

  .header__title {
    font-size: 45px;
  }

  .dialog[open] {
    max-inline-size: 300px;
  }
}

@media (width>=768px) {
  .dialog[open] {
    padding: 30px;
    max-inline-size: 353px;
  }

  .card__save-button {
    flex-direction: row;
    align-items: center;
  }

  .card__save-button .save-icon {
    inline-size: 21px;
  }
}
