/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --text-font: 'Inter-Variable';
  --accent-font: 'PressStart2P-Regular';
  --font-wght-title: 715;
  --font-wght-text: 410;
  --bg-image: 
    repeating-linear-gradient(to right, #d3d3d3 0 2px, #d3d3d300 2px 4px),
    repeating-linear-gradient(#d3d3d3 0 2px, #d3d3d300 2px 4px),
    linear-gradient(#e7e7e7 0.01%, #1a1a1a);
  --main-color: #fff;
  --accent-color: #000;
  --contour-color: #000;
  --animation-fill-color: red;
  --text-stroke: var(--main-color);
  --border: 2px solid var(--accent-color);
  --section-inline-size: clamp(23.4375rem, 4.0553rem + 82.6972vw, 43.75rem);
  --title-font-size: clamp(3.0625rem, 2.1083rem + 4.0712vw, 4.0625rem);
  --subtitle-font-size: clamp(0.875rem, 0.3383rem + 2.2901vw, 1.4375rem);
  --title-padding: clamp(7.625rem, 7.1479rem + 2.0356vw, 8.125rem);
}
